<!DOCTYPE html>
{%- if not lang -%}
  {%- set lang = site.locale -%}
{%- endif %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" xml:lang="{{ lang }}"{% if page.dir %} dir="{{ dir }}"{% endif %}>
<head>
{% block htmlhead -%}
  {% include "partials/head.njk" %}
{%- endblock %}
</head>
<body>
{% block nav -%}
  {% include "partials/nav.njk" %}
{%- endblock %}

{% block pagetitle -%}
{% if header -%}
  {% include "partials/hero.njk" %}
{%- else -%}
<div class="container py-5">
  <h1 class="display-1">
    {% if title %}{{ title}}{% else %}{{ site.title }}{% endif %}
    {% if subtitle -%}
    <span class="subtitle d-block h-3">
      {{ subtitle }}
    </span>
    {%- endif %}
  </h1>
  {% if excerpt %}
  <div class="lead">
    {{ excerpt | safe }}
  </div>
  {%- endif %}
</div>
{%- endif %}
{% if page.url != "/" and site.breadcrumbs %}
  {% if not paginator %}
    {% include "partials/breadcrumbs.njk" %}
  {% endif %}
{% endif %}
{%- endblock %}

<main>
<div id="main" class="container{% if sidebar or author_profile %} has-sidebar{% endif %}">
  <div class="row{% if classes %} {{ classes }}{% endif %}">
  {%- if sidebar.nav %}
  <small class="d-md-none mb-5">
    <a class="btn btn-outline-secondary" href="#sidebar">{{ ui_text[lang].skip_primary_nav }}</a>
  </small>
  {%- endif %}
  {% block pagecontent -%}
  {{ content | safe }}
  {%- endblock %}
  </div>
</div>
{%- if sidebar or author_profile %}
<div class="sidebar" id="sidebar">
  <a class="d-md-none" href="#main">{{ ui_text[lang].skip_content }}</a>
  {%- include "partials/sidebar.njk" -%}
</div>
{%- endif %}
</main>

{% block archive %}
{% endblock %}

{% block after %}
{% endblock %}

{% block pagefooter -%}
{% include "partials/footer.njk" %}
{%- endblock %}
</body>
</html>
