{%- extends "layouts/base.njk" -%}
{%- block pagecontent -%}
{{ content | safe }}
<h2 id="noticias">Notícias</h2>
<div class="col col-md-6 col-lg-8">
{%- block featured -%}
{%- set destaque = collections.destaque -%}
{%- for post in destaque -%}
  {% include "partials/featured.njk" %}
{%- endfor -%}
{%- endblock -%}
</div>
<div class="col col-md-6 col-lg-4">
{% block archive %}
  <ul class="list-unstyled toc">
    {% for post in pagination.items %}
    <li>
      <a class="d-flex flex-column flex-lg-row gap-3 my-3 align-items-start align-items-lg-center link-body-emphasis text-decoration-none border-bottom" href="{{ post.url }}">
        <div class="ratio ratio-1x1 my-2">
          <img class="object-fit-cover" src="{{ post.data.header.teaser }}" />
        </div>
        <div class="col-lg-8">
          {{ post.data.title }}
          <small class="d-block body-tertiary my-2">{{ post.data.date | dateFilter }}</small>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a class="icon-link icon-link-hover link-secondary link-underline-opacity-25 float-end" href="/posts/">Todas as notícias ›</a>
{% endblock %}
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-5">
  <h2 id="produtos">Produção bibliográfica e técnica</h2>
  {% block publications %}
  {% set produtos = collections.produtos %}
  {% for issuedYear, items in produtos | groupby("issuedYear") | dictsort | reverse %}
  <h3 class="w-100">{{ issuedYear }}</h3>
  {% for a in items %}
    {% include "partials/cards_produto.njk" %}
  {% endfor %}
  {% endfor %}
  {% endblock %}
</div>
{%- endblock -%}
