{% extends "layouts/base.njk" %}
{% block pagecontent %}
<script src="/assets/leaflet/leaflet.js"></script>
<div class="col col-md-8 order-2">
  {{ content | safe }}
</div><!--/.col-md-8-->

<div class="col col-md-4 order-1 mb-5">
  <div class="card">
    <div id="map" class="card-img-top" style="width: 100%; height: 400px;"></div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {% if coverage.spatial.location.country %}
          {{ coverage.spatial.location.country | countryEmoji }}
          {{ ui[coverage.spatial.location.country] }}
        {% endif %}
        {% if coverage.spatial.location.state %}
          {{ coverage.spatial.location.state }}
          <i class="bi bi-chevron-compact-right" aria-hidden="true"></i>
        {% endif %}
        {% if coverage.spatial.location.city %}
          {{ coverage.spatial.location.city }}
        {% endif %}
      </li>
      <li class="list-group-item">
        {% if date %}
          Inclusão:
        {% else %}
          Última atualização: 
        {% endif %}
        {{ page.date | dateFilter }}
      </li>
      <li class="list-group-item">
        {% if authors %}
          Responsáveis:
          {% for author in authors %}
            {{ members[author].name }}
          {% endfor %}
        {% elif author %}
          Responsável: {{ members[author].name }}
        {% endif %}
      </li>
    </ul>
  </div><!--/.card-->
</div><!--/.col-md-4-->
{% endblock %}

{% block after %}
<div class="container-fluid text-center my-5">
{% if coverage.temporal %}
  {% set timelineData %}
    {{ coverage.temporal | dump | safe }}
  {% endset %}
  {% include "partials/timeline.njk" %}
{% endif %}

{% if dwg %}
{% endif %}

{% if docs %}
{% endif %}

{% if relation %}
  <h2 id="iconografia" style="text-transform: capitalize;">{{ ui_text[lang].iconography }}</h2>
  <div class="row g-3 mx-3">
  {% for post in media %}
    {% include "partials/album.njk" %}
  {% endfor %}
  </div><!--/.row-->
{% endif %}
</div><!--/.container-fluid-->

<!--Leaflet map generator-->
<script>
  var map = L.map('map').setView([{{ coverage.spatial.location.lat }}, {{ coverage.spatial.location.long }}], {{ coverage.spatial.location.zoom }});
  const marker = L.marker([{{ coverage.spatial.location.lat }}, {{ coverage.spatial.location.long }}]).addTo(map);
  const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
</script>
<!--/Leaflet map generator-->
{% endblock %}
