---
description: "Últimas contribuições ao inventário"
permalink: '/feed.xml'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
	<subtitle>{{ site.description }}</subtitle>
	<link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<updated>{{ collections.casa | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}</id>
	<author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
	</author>
	{% for post in collections.casa %}
    {% set absolutePostUrl = post.url | absoluteUrl(site.url)  %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      {% if post.data.lang %}
      {% set lang = post.data.lang %}
      {% else %}
      {% set lang = site.lang %}
      {% endif %}
      <content xml:lang="{{ lang }}" type="html"><![CDATA[
        {{ post.templateContent | safe }}
      ]]></content>
    </entry>
	{% endfor %}
</feed>
