<div class="col">
  <div class="card h-100 shadow-sm">
    <img class="card-img-top" src="{{ post.data.header.teaser }}" />
    <div class="card-header">
      {% if post.data.coverage.spatial.location.country %}
        <span aria-label="{{ post.data.coverage.spatial.location.country }}">
          {{ post.data.coverage.spatial.location.country | countryEmoji }}
        </span>
      {% endif %}
      {% if post.data.coverage.spatial.location.state %}
        {{ post.data.coverage.spatial.location.state }}
        <i class="bi bi-chevron-compact-right" aria-hidden="true"></i>
      {% endif %}
      {{ post.data.coverage.spatial.location.city }}
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <a href="{{ post.url }}" class="text-decoration-none link-body-emphasis stretched-link">{{ post.data.title }}</a>
      </h3>
      <p class="card-text">{{ post.data.excerpt }}</p>
    </div>
      <div class="card-footer text-right">
        <small class="text-body-secondary">{{ ui_text[lang].date_label }} {{ post.date | dateFilter }}</small>
      </div>
  </div>
</div>
