<div class="card border-0 mb-3">
{% if author.avatar %}
  <div class="ratio ratio-1x1">
    <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image" class="border-2 rounded-circle" />
  </div>
{% endif %}
</div><!--/.card-->
<div class="card mb-5">
  <div class="card-body author__content">
    <h3 class="author__name card-title" itemprop="name">{{ author.name }}</h3>
    {%- if author.bio %}
    <small class="author__bio" itemprop="description">
      {{ author.bio | safe }}
    </small>
    {%- endif %}
  </div>
  <div class="author__urls-wrapper">
    {%- if author.location %}
    <div class="card-header" itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
      <span itemprop="name" class="p-locality">{{ author.location | safe }}</span>
    </div>
    {%- endif %}
    <ul class="author__urls social-icons list-group list-group-flush">
    {%- if author.email %}
      <li class="list-group-item">
        <a href="mailto:{{ author.email }}" rel="me" class="u-email">
          <meta itemprop="email" content="{{ author.email }}" />
          <i class="bi bi-envelope" aria-hidden="true"></i>
          <span class="label">
            {%- if ui_text[lang].email_label %}{{ ui_text[lang].email_label }}{%- else %}Email{%- endif %}
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if author.uri %}
      <li class="list-group-item">
        <a href="{{ author.uri }}" itemprop="url" rel="me">
          <i class="bi bi-globe" aria-hidden="true"></i>
          <span class="label">
            {%- if ui_text[lang].website_label %}{{ ui_text[lang].website_label }}{%- else %}Website{%- endif %}
          </span>
        </a>
      </li>
    {%- endif %}
    {%- if author.orcid %}
      <li class="list-group-item">
        <a href="{{ author.orcid }}" itemprop="url" rel="me">
          <i class="ai ai-orcid" aria-hidden="true"></i>
          <span class="label">ORCiD</span>
        </a>
      </li>
    {%- endif %}
    {%- if author.lattes %}
      <li class="list-group-item">
        <a href="{{ author.lattes }}" itemprop="url" rel="me">
          <i class="ai ai-lattes" aria-hidden="true"></i>
          <span class="label">CV Lattes</span>
        </a>
      </li>
    {%- endif %}
    {%- if author.links %}{%- for link in author.links %}
      {%- if link.label and link.url %}
      <li class="list-group-item">
        {% set containsHttp %}{{ link.url | truncate(4) }}{% endset %}
        <a href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if containsHttp === 'http' %} itemprop="sameAs"{% endif %}>
          <i class="{% if link.icon %}{{ link.icon }}{% else %}bi bi-link{% endif %}" aria-hidden="true"></i>
          <span class="label">{{ link.label }}</span>
        </a>
      </li>
      {%- endif %}
    {%- endfor %}{%- endif %}
    </ul>
  </div><!--/.author__urls-wrapper-->
</div><!--/.card-->
