{%- if tags[0] -%}
  {%- set currentCollection = tags[0] -%}
{%- elif tags -%}
  {%- set currentCollection = tags -%}
{%- endif -%}
{%- if currentCollection -%}
{% set collectionToNavigate = collections[currentCollection] %}
{% set previousPost = collectionToNavigate | getPreviousCollectionItem %}
{% set nextPost = collectionToNavigate | getNextCollectionItem %}
{% if previousPost or nextPost %}
<div class="container">
  <div class="row justify-content-center">
    {% include "partials/prev-next.njk" %}
  </div><!--/.col-->
</div><!--/.container-->
{% endif %}
{%- endif -%}

<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        {{ site.title }}
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 {{ site.name }}</span>
    </div>

    {%- if navigation.footer %}
    <ul class="nav">
    {% for item in navigation.footer -%}
      <li>
        <a href="{{ item.url }}" {% if item.target %}target="{{ item.target }}" {% endif %}class="nav-link{% if item.class %} {{ item.class }}{% endif %}">
          {{ item.title | safe }}
        </a>
      </li>
    {%- endfor %}
    </ul>
    {%- endif %}
  </footer>
</div>

<script src="{{ '/assets/js/main.js' }}"></script>
