{%- if metaTitle -%}
  {%- set title = metaTitle -%}
{%- elif title and site.title != title -%}
  {%- set titlePrefix = site.title -%}
  {%- set metaTitle = [ titlePrefix, ' ', site.title_separator, ' ', title ] | join -%}
{%- elif not title -%}
  {%- set title = site.title -%}
  {%- set metaTitle = title -%}
{%- endif -%}
{%- if not excerptMeta -%}
  {%- if excerpt -%}
    {%- set excerptMeta = excerpt -%}
  {%- else -%}
    {%- set excerptMeta = site.excerpt -%}
  {%- endif -%}
{%- endif -%}
{%- set currentUrl = [ site.url, page.url ] | join -%}

<title>{{ metaTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<meta charset="utf-8" />
<meta name="generator" content="pandoc" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

{% for authorMeta in authorMeta -%}
  <meta name="author" content="{{ authorMeta }}" />
{% endfor -%}
{% if dateMeta %}
  <meta name="dcterms.date" content="{{ dateMeta }}" />
{% endif %}
{% if keywords %}
  <meta name="keywords" content="{% for keyword in keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}" />
{% endif %}

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if social_image or teaser %}
  {%- if not social_image -%}
    {%- set social_image = teaser -%}
  {%- endif -%}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ social_image }}" />
  <meta name="twitter:image" content="{{ social_image }}" />
  <meta property="og:image:alt" content="Page image for {{ site.title }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.title }}" />
{% endif %}

{% if descriptionMeta %}
  <meta name="description" content="{{ descriptionMeta }}" />
  <meta name="twitter:description" content="{{ descriptionMeta }}" />
  <meta property="og:description" content="{{ descriptionMeta }}" />
{% endif %}

<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
{%- if css %}
{%- if css[0] %}
{%- for css in css %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{%- endfor %}
{%- else %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{%- endif %}
{%- endif %}
