{% if metaTitle %}
  {% set title = metaTitle %}
{% elif site.name and site.name != title %}
  {% set titlePrefix = site.name %}
{% endif %}
{% if not title %}
  {% set title = site.name %}
{% endif %}
{% if not descriptionMeta %}
  {% set descriptionMeta = description %}
{% endif %}
{% set currentUrl = site.url + page.url %}

<title>{% if titlePrefix %}{{ titlePrefix }} – {% endif %}{{ title }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<meta charset="utf-8" />
<meta name="generator" content="pandoc" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

{% for authorMeta in authorMeta %}
  <meta name="author" content="{{ authorMeta }}" />
{% endfor %}
{% if dateMeta %}
  <meta name="dcterms.date" content="{{ dateMeta }}" />
{% endif %}
{% if keywords %}
  <meta name="keywords" content="{% for keyword in keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}" />
{% endif %}

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if descriptionMeta %}
  <meta name="description" content="{{ descriptionMeta }}" />
  <meta name="twitter:description" content="{{ descriptionMeta }}" />
  <meta property="og:description" content="{{ descriptionMeta }}" />
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}" />
{% for css in css %}
  <link rel="stylesheet" href="{{ css | url }}" />
{% endfor %}

{% for headerIncludes in headerIncludes %}
  {{ headerIncludes | safe }}
{% endfor %}
{% if math %}
{% if mathjax %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
{% endif %}
  {{ math }}
{% endif %}
