<div class="container">
  <div class="row my-3 text-center">
    {% for t in triptych %}
    <div class="col-md-6 col-lg-4">
      {% if t.image_path %}
        <img class="rounded-circle mb-3" src="{{ t.image_path }}" width="140" height="140" alt="{{ t.title }}" />
      {% endif %}
      {% if t.title %}
        <h3 class="fw-normal">{{ t.title }}</h3>
      {% endif %}
      {% if t.excerpt %}
        <p>{{ t.excerpt }}</p>
      {% endif %}
      {% if t.url %}
        <p><a class="btn{% if t.btn_class %} {{ t.btn_class }}{% endif %}" href="{{ t.url }}">{% if t.btn_label %}{{ t.btn_label }}{% else %}{{ ui.read_more }}…{% endif %}</a></p>
      {% endif %}
    </div>
    {% endfor %}
  </div><!--/.row-->
</div><!--/.triptych-->

